<a href="https://colab.research.google.com/github/krittikaroy0/CSE303/blob/main/CSE303.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello , CSE303!")

hello , CSE303!

In [ ]:
x = 7 
print(x)

7

In [ ]:
x = 0.9 
print(x)

0.9

In [ ]:
x = float(33)
print(x)

33.0

In [ ]:
x = 56
if x >= 11:
   print(" hi")
else:
    print("bye")

 hi

In [12]:
one = 1
two = 2
three =  one ** two
print(three )

1

In [9]:
one = " hi"
two = "bye"
print(one + " "+ two)

 hi bye

In [13]:
 a, b = 3, 4
 print(a,b)

3 4

In [15]:
one = 1
two = 2
hello = "hello"
print(one + two , hello)

3 hello

In [24]:
mystring = hello
myfloat = 10.0
myint = 20
if mystring == 'hello':
   print("String = %s" %mystring)
if isinstance(myfloat, float) and myfloat == 10.0:
    print("Float: %.1f" % myfloat)
if isinstance(myint , int) and myint == 20:
  print("INT: %d" % myint)

String = hello
Float: 10.0
INT: 20

In [25]:
print(" id is 5 =",id(5))
a = 5
print(" id is a =",id(a))
b = a
print(" id is b =",id(b))
c= 5.0
print(" id is c =",id(5.0))

 id is 5 = 9793216
 id is a = 9793216
 id is b = 9793216
 id is c = 139664385925296

In [31]:
mystring = "Hi"
myfloat = 10.2
myint = 30

type(mystring)
type(myfloat)
type(myint)

isinstance(myint, int)

False