<a href="https://colab.research.google.com/github/manzur-au/CSE303/blob/main/CSE303_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Introduction to Python Programming**


---

*   General purpose programming language, you can build anything!
*   Open Source. Free to use.
*   Lots of Python packages
*   Current Version: Python 3.x
*   Indentation is important using tabs or spaces!

# Hello world!

**Print**

Lets print a simple lines

In [1]:
print("Hello, CSE303!")

Hello, CSE303!

**Indentation**

Python uses indentation for blocks, instead of curly braces. Both tabs and spaces are supported, but the standard indentation requires standard Python code to use four spaces. For example:

In [4]:
x = 1
if x == 1:
    # indented four spaces
    print("x is 1.")

x is 1.

# Variables and Types

*   Python is completely object oriented, and not "statically typed".
*   You do not need to declare variables before using them, or declare their type.
*   Every variable in Python is an object.

**Numbers**

Python supports two types of numbers - integers(whole numbers) and floating point numbers(decimals). (It also supports complex numbers, which will not be explained now).

To define an integer, use the following syntax:

In [5]:
myint = 7
print(myint)

7

To define a floating point number, you may use one of the following notations:

In [6]:
myfloat = 7.0
print(myfloat)
myfloat = float(7)
print(myfloat)

7.0
7.0

**Strings**

Strings are defined either with a single quote or a double quotes.

In [7]:
mystring = 'hello'
print(mystring)
mystring = "hello"
print(mystring)

hello
hello

The difference between the two is that using double quotes makes it easy to include apostrophes (whereas these would terminate the string if using single quotes)

In [8]:
mystring = "Don't worry about apostrophes"
print(mystring)

Don't worry about apostrophes

# Operators

Lets have a loot at operators used in python

**Arithmetic Operators**

*   ' + '	Add two operands or unary plus	x + y+ 2
*   ' - '	Subtract right operand from the left or unary minus	x - y- 2
*   ' * '	Multiply two operands	x * y
*   ' / '	Divide left operand by the right one (always results into float)	x / y
*   ' % '	Modulus - remainder of the division of left operand by the right	x % y (remainder of x/y)
*   ' // '	Floor division - division that results into whole number adjusted to the left in the number line	x // y
*   ' ** '	Exponent - left operand raised to the power of right	x**y (x to the power y)

In [ ]:
# Do your own practise

In [9]:
# Simple operators can be executed on numbers and strings
one = 1
two = 2
three = one + two
print(three)

hello = "hello"
world = "world"
helloworld = hello + " " + world
print(helloworld)

3
hello world

In [10]:
# Assignments can be done on more than one variable "simultaneously" on the same line like this

a, b = 3, 4
print(a, b)

3 4

In [11]:
# Mixing operators between numbers and strings is not supported

# This will not work!
one = 1
two = 2
hello = "hello"

print(one + two + hello)

TypeError: ignored

# Comparison / relational operators:

`>, <, >=, <=, ==, !=`

# Logical Operators

`and, or, not`

**Exercise**

The target of this exercise is to create a string, an integer, and a floating point number. The string should be named mystring and should contain the word "hello". The floating point number should be named myfloat and should contain the number 10.0, and the integer should be named myint and should contain the number 20.

In [12]:
# change this code
mystring = None
myfloat = None
myint = None

# testing code
if mystring == "hello":
    print("String: %s" % mystring)
if isinstance(myfloat, float) and myfloat == 10.0:
    print("Float: %f" % myfloat)
if isinstance(myint, int) and myint == 20:
    print("Integer: %d" % myint)

**Few useful functions** 

id(object_name), type(object_name), isinstance(object_name, type_name)

In [17]:
# id of 5
print("id of 5 =", id(5))

a = 5

# id of a
print("id of a =", id(a))

b = a

# id of b
print("id of b =", id(b))

c = 5.0

# id of c
print("id of c =", id(c))

id of 5 = 11122720
id of a = 11122720
id of b = 11122720
id of c = 140343465288240

In [16]:
mystring = "Hi"
myfloat = 10.2
myint = 30

# type(mystring)
# type(myfloat)
# type(myint)

# isinstance(myint, int)

True

# Mutabale objects: List


Lists are very similar to arrays. They can contain any type of variable, and they can contain as many variables as you wish.

* Python List append(): Add a single element to the end of the list
* Python List clear(): Removes all Items from the List
* Python List copy(): returns a shallow copy of the list
* Python List count(): returns count of the element in the list
* Python List extend(): adds iterable elements to the end of the list
* Python List index(): returns the index of the element in the list
* Python List insert(): insert an element to the list
* Python List pop(): Removes element at the given index
* Python List remove(): Removes item from the list
* Python List reverse(): reverses the list
* Python List sort(): sorts elements of a list

In [36]:
mylist = []
mylist.append(1)
mylist.append(2)
mylist.append(3)
print(mylist[0]) # prints 1
print(mylist[1]) # prints 2
print(mylist[2]) # prints 3

1
2
3

In [37]:
# prints out 1,2,3
for x in mylist:
    print(x)

1
2
3

In [40]:
# Elements can be accessed using indexing: 
mylist = [1, 2, 3] 
print (mylist[0])
print(mylist[-1]) 
print(mylist[1:3])

1
3
[2, 3]

**Accessing an index which does not exist generates an exception (an error).**

mylist = [1,2,3]
print(mylist[10])

**Exercise**

In this exercise, you will need to add numbers and strings to the correct lists using the "append" list method. You must add the numbers 1,2, and 3 to the "numbers" list, and the words 'hello' and 'world' to the strings variable.

You will also have to fill in the variable second_name with the second name in the names list, using the brackets operator []. Note that the index is zero-based, so if you want to access the second item in the list, its index will be 1.

The output will be:

`[1, 2, 3]`

`['hello', 'world']`

`The second name on the names list is Eric`

In [ ]:
numbers = []
strings = []
names = ["John", "Eric", "Jessica"]

# write your code here
second_name = None


# this code should write out the filled arrays and the second name in the names list (Eric).
print(numbers)
print(strings)
print("The second name on the names list is %s" % second_name)

# Immutuable Objects: Tuple

* A tuple in Python is similar to a list. The difference between the two is that we cannot change the elements of a tuple once it is assigned whereas we can change the elements of a list.

* A tuple can have any number of items and they may be of different types (integer, float, list, string, etc.).

In [27]:
# Tuple having integers
my_tuple = (1, 2, 3)
print(my_tuple)

# tuple with mixed datatypes
my_tuple = (1, "Hello", 3.4)
print(my_tuple)

(1, 2, 3)
(1, 'Hello', 3.4)

# String Formatting

Python uses C-style string formatting to create new, formatted strings. The "%" operator is used to format a set of variables enclosed in a "tuple" (a fixed size list), together with a format string, which contains normal text together with "argument specifiers", special symbols like "%s" and "%d".

Let's say you have a variable called "name" with your user name in it, and you would then like to print(out a greeting to that user.)

In [26]:
# This prints out "Hello, John!"
name = "John"
print("Hello, %s!" %name)

Hello, John!

In [43]:
# To use two or more argument specifiers, use a tuple (parentheses):
# This prints out "John is 23 years old."
name = "John"
age = 23
print("%s is %d years old." % (name, age))

John is 23 years old.

Any object which is not a string can be formatted using the %s operator as well. The string which returns from the "repr" method of that object is formatted as the string (The repr() method returns a printable representation of the given object.). For example:

In [44]:
# This prints out: A list: [1, 2, 3]
mylist = [1,2,3]
print("A list: %s" % mylist)

A list: [1, 2, 3]

Here are some basic argument specifiers you should know:

`%s - String (or any object with a string representation, like numbers)`

`%d - Integers`

`%f - Floating point numbers`

`%.<number of digits>f - Floating point numbers with a fixed amount of digits to the right of the dot.`

`%x/%X - Integers in hex representation (lowercase/uppercase)`

**Excercise**

You will need to write a format string which prints out the data using the following syntax: 

`Hello John Doe. Your current balance is $53.44.`

In [45]:
data = ("John", "Doe", 53.44)
format_string = "Hello"

print(format_string % data)

TypeError: ignored

# Basic String Operations

Strings are bits of text. They can be defined as anything between quotes:

```
astring = "Hello world!"
astring2 = 'Hello world!'
```

As you can see, the first thing you learned was printing a simple sentence. This sentence was stored by Python as a string. However, instead of immediately printing strings out, we will explore the various things you can do to them. You can also use single quotes to assign a string. However, you will face problems if the value to be assigned itself contains single quotes. For example to assign the string in these bracket(single quotes are ' ') you need to use double quotes only like this:

In [ ]:
astring = "Hello world!"
print("single quotes are ' '")

print(len(astring))

Lets work with some more string methods

In [ ]:
astring = "Hello world!"
print(astring.index("o"))

That prints out 4, because the location of the first occurrence of the letter "o" is 4 characters away from the first character. Notice how there are actually two o's in the phrase - this method only recognizes the first.

But why didn't it print out 5? Isn't "o" the fifth character in the string? To make things more simple, Python (and most other programming languages) start things at 0 instead of 1. So the index of "o" is 4.

In [ ]:
astring = "Hello world!"
print(astring.count("l"))

In [ ]:
astring = "Hello world!"
print(astring[3:7])

This prints a slice of the string, starting at index 3, and ending at index 6. But why 6 and not 7? Again, most programming languages do this - it makes doing math inside those brackets easier.

If you just have one number in the brackets, it will give you the single character at that index. If you leave out the first number but keep the colon, it will give you a slice from the start to the number you left in. If you leave out the second number, it will give you a slice from the first number to the end.

You can even put negative numbers inside the brackets. They are an easy way of starting at the end of the string instead of the beginning. This way, -3 means "3rd character from the end".

In [48]:
# This prints the characters of string from 3 to 7 skipping one character. 
# This is extended slice syntax. The general form is [start:stop:step].

astring = "Hello world!"
print(astring[3:7:2])

l

In [ ]:
# What would be the output?

astring = "Hello world!"
print(astring[3:7])
print(astring[3:7:1])

In [49]:
# There is no function like strrev in C to reverse a string. 
# But with the above mentioned type of slice syntax you can easily reverse a string like this:

astring = "Hello world!"
print(astring[::-1])

!dlrow olleH

In [50]:
astring = "Hello world!"
print(astring.upper())
print(astring.lower())

HELLO WORLD!
hello world!

In [ ]:
astring = "Hello world!"
print(astring.startswith("Hello"))
print(astring.endswith("asdfasdfasdf"))

astring = "Hello world!"
print(astring.startswith("Hello"))
print(astring.endswith("asdfasdfasdf"))

In [54]:
astring = "Hello world!"
afewwords = astring.split(" ")
print(afewwords)

['Hello', 'world!']

This splits the string into a bunch of strings grouped together in a list. Since this example splits at a space, the first item in the list will be "Hello", and the second will be "world!".

**Exercise**

Exercise
Try to fix the code to print out the correct information by changing the string.

In [ ]:
s = "Hey there! what should this string be?"
# Length should be 20
print("Length of s = %d" % len(s))

# First occurrence of "a" should be at index 8
print("The first occurrence of the letter a = %d" % s.index("a"))

# Number of a's should be 2
print("a occurs %d times" % s.count("a"))

# Slicing the string into bits
print("The first five characters are '%s'" % s[:5]) # Start to 5
print("The next five characters are '%s'" % s[5:10]) # 5 to 10
print("The thirteenth character is '%s'" % s[12]) # Just number 12
print("The characters with odd index are '%s'" %s[1::2]) #(0-based indexing)
print("The last five characters are '%s'" % s[-5:]) # 5th-from-last to end

# Convert everything to uppercase
print("String in uppercase: %s" % s.upper())

# Convert everything to lowercase
print("String in lowercase: %s" % s.lower())

# Check how a string starts
if s.startswith("Str"):
    print("String starts with 'Str'. Good!")

# Check how a string ends
if s.endswith("ome!"):
    print("String ends with 'ome!'. Good!")

# Split the string into three separate strings,
# each containing only a word
print("Split the words of the string: %s" % s.split(" "))

# Condition

Python uses boolean logic to evaluate conditions. The boolean values True and False are returned when an expression is compared or evaluated.

In [ ]:
x = 2
print(x == 2) # prints out True
print(x == 3) # prints out False
print(x < 3) # prints out True

Notice that variable assignment is done using a single equals operator "=", whereas comparison between two variables is done using the double equals operator "==". The "not equals" operator is marked as "!=".

**Boolean operators**

The "and" and "or" boolean operators allow building complex boolean expressions, for example:

In [55]:
name = "John"
age = 23
if name == "John" and age == 23:
    print("Your name is John, and you are also 23 years old.")

if name == "John" or name == "Rick":
    print("Your name is either John or Rick.")

Your name is John, and you are also 23 years old.
Your name is either John or Rick.

**The "in" operator**

The "in" operator could be used to check if a specified object exists within an iterable object container, such as a list:

In [56]:
name = "John"
if name in ["John", "Rick"]:
    print("Your name is either John or Rick.")

Your name is either John or Rick.

Python uses indentation to define code blocks, instead of brackets. The standard Python indentation is 4 spaces, although tabs and any other space size will work, as long as it is consistent. Notice that code blocks do not need any termination.

Here is an example for using Python's "if" statement using code blocks:

In [57]:
statement = False
another_statement = True
if statement is True:
    # do something
    pass
elif another_statement is True: # else if
    # do something else
    pass
else:
    # do another thing
    pass

In [58]:
x = 2
if x == 2:
    print("x equals two!")
else:
    print("x does not equal to two.")

x equals two!

A statement is evaulated as true if one of the following is correct: 
1. The "True" boolean variable is given, or calculated using an expression, such as an arithmetic comparison. 
2. An object which is not considered "empty" is passed.

Here are some examples for objects which are considered as empty: 
1. An empty string: `"" `
2. An empty list: `[] `
3. The number zero: `0 `
4. The false boolean variable: `False`

**The 'is' operator**

**Identity operators**

`is` and `is not` are the identity operators in Python. They are used to check if two values (or variables) are located on the same part of the memory. Two variables that are equal does not imply that they are identical.

Unlike the double equals operator "==", the "is" operator does not match the values of the variables, but the instances themselves. For example:

In [ ]:
x = [1,2,3]
y = [1,2,3]
print(x == y) # Prints out True
print(x is y) # Prints out False

In [60]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is z)

# returns True because z is the same object as x

print(x is y)

# returns False because x is not the same object as y, even if they have the same content

print(x == y)

# to demonstrate the difference betweeen "is" and "==": this comparison returns True because x is equal to y

True
False
True

**The "not" operator**

Using "not" before a boolean expression inverts it:

In [ ]:
print(not False) # Prints out True
print((not False) == (False)) # Prints out False

**Exercise**

Change the variables in the first section, so that each if statement resolves as True.

In [ ]:
# change this code
number = 10
second_number = 10
first_array = []
second_array = [1,2,3]

if number > 15:
    print("1")

if first_array:
    print("2")

if len(second_array) == 2:
    print("3")

if len(first_array) + len(second_array) == 5:
    print("4")

if first_array and first_array[0] == 1:
    print("5")

if not second_number:
    print("6")

# Important Links:

https://www.learnpython.org

https://www.programiz.com/python-programming/operators

https://www.programiz.com/python-programming/methods/list

https://www.programiz.com/python-programming/methods/dictionary

https://www.programiz.com/python-programming/tuple